<div class="sinupPage">
  <div class="titleArea">
    <h1>сЂѓсЂЪсѓЅсЂЌсЂЈсЂесЂєсѓЇсЂЈсЂЎсѓІсЃџсЃ╝сѓИсЂасѓѕ­Ъўі</h1>
    <div class="m-3">or</div>
    <%= render "devise/shared/links" %>
  </div>
  <div class='container'>
    <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-5, signupForm" }, local: true do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "сЂісЂфсЂЙсЂѕсЂІсЂёсЂдсЂГ" %>
      </div>
      <div class="form-group">
         <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "EсЃАсЃ╝сЃФсѓњсЂІсЂёсЂдсЂГ" ,autocomplete: "email" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>ТќЄтГЌС╗ЦСИітЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control", placeholder:"сЃЉсѓ╣сЃ»сЃ╝сЃЅсѓњсЂІсЂёсЂдсЂГ", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class:"form-control", placeholder: "сЃЉсѓ╣сЃ»сЃ╝сЃЅсѓњсѓѓсЂє№╝ЉтЏъсЂІсЂёсЂдсЂГ", autocomplete: "off" %>
      </div>
      <div class="text-center">
        <%= f.submit "сЂѓсЂЪсѓЅсЂЌсЂЈсЂесЂєсѓЇсЂЈРўє", class: "btn submitBtn" %>
      </div>
    <% end %>